<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SapCoExcelAddin.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Name0" value="MSF GTP (SSO)"/>
    <add key="AppServerHost0" value="172.27.6.23"/>
    <add key="SystemNumber0" value="50"/>
    <add key="SystemID0" value="GTP"/>
    <add key="Client0" value="060"/>
    <add key="Language0" value="DE"/>
    <add key="SncMode0" value="1"/>
    <add key="SncPartnerName0" value="p:CN=SVC_SAP_GTP_ABAP"/>
    <add key="Name1" value="MSF GTI (SSO)"/>
    <add key="AppServerHost1" value="172.27.6.73"/>
    <add key="SystemNumber1" value="51"/>
    <add key="SystemID1" value="GTI"/>
    <add key="Client1" value="060"/>
    <add key="Language1" value="DE"/>
    <add key="SncMode1" value="1"/>
    <add key="SncPartnerName1" value="p:CN=SVC_SAP_GTI_ABAP"/>
    <add key="Name2" value="MSF GTM (SSO)"/>
    <add key="AppServerHost2" value="172.27.6.32"/>
    <add key="SystemNumber2" value="55"/>
    <add key="SystemID2" value="GTM"/>
    <add key="Client2" value="060"/>
    <add key="Language2" value="DE"/>
    <add key="SncMode2" value="1"/>
    <add key="SncPartnerName2" value="p:CN=SVC_SAP_GTM_ABAP"/>
  </appSettings>
  <userSettings>
    <SapCoExcelAddin.MySettings>
      <setting name="SAP_Language" serializeAs="String">
        <value/>
      </setting>
      <setting name="SAP_User" serializeAs="String">
        <value/>
      </setting>
    </SapCoExcelAddin.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
